{% load static%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/css/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="login", method= 'POST'>
            {% for message in messages %}
            <i class="fas fa-h3    ">{message}</i>
            {% endfor %}
            <label for="email">Email: </label>  
            <input type="email" name="email">
            <label for="password">Password: </label>
            <input type="password" name="password">
            <button type="submit">Login</button>

        </form>
    </body>
</html>