<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="registration", method= 'POST'>
            <label for="firstname" >First Name: </label>
            <input type="text" name= "firstname">
            <label for="lastname" >Last Name: </label>
            <input type="text" name= "lastname">
            <label for="contact" >Contact: </label>
            <input type="text" name="contact">
            <label for="email" >Email: </label>  
            <input type="email" name="email">
            <label for="password" >Password: </label>
            <input type="password" name ="password">
            <label for="password1" >Confirm Password: </label>
            <input type="password" name ="password1">
            <button type="submit">Register</button>

        </form>
    </body>
</html>